.row {
    flex-direction: row;
    align-items: center;
    margin-bottom: 6px;
    gap: 6px;
}

/* label alinhada à esquerda */
.title {
    width: 70px;
}

/* agora eles se comportam como devem */
.vec {
    flex-grow: 1;
    min-width: 0;
}
